<section class="py-16 px-10">
    <div class="max-w-screen-xl mx-auto">
        <h1 class="text-5xl font-bold font-nfl text-primary capitalize text-center">featured products</h1>
        <p class="font-medium text-lg text-center capitalize mt-1">experience the taste of pakistan</p>
        <div class="flex items-center justify-center flex-wrap gap-5 my-10 mx-auto">
            <product *ngFor="let product of featuredProducts" [products]="featuredProducts"></product>
        </div>
        <a href=""
            class="py-1.5 px-10 bg-primary hover:bg-primary-hover text-white font-medium mx-auto capitalize rounded-md grid justify-center w-fit">explore
            more</a>
    </div>
</section>