<section class="flex justify-center items-center h-screen w-full relative">
    <div class="w-[50%] h-full"></div>
    <div class="w-[50%] h-full bg-primary md:block hidden"></div>
    <a href="#" class="absolute top-5 left-3 w-[129px] h-[101px] max-w-screen-lg">
        <img src="../../../assets/login/nfllogo.png" class="w-full h-full" alt="">
    </a>
    <div class="absolute w-full md:w-[90%] lg:w-[70%] h-[65%] max-h-[530px] flex justify-center items-center max-w-screen-lg">
        <div class="w-[50%] h-full bg-[rgba(0,0,0,.05)] rounded-tl-[3rem] rounded-bl-[3rem] md:block hidden"></div>
        <div class="w-[50%] h-full bg-[rgba(255,255,255,.3)] rounded-br-[3rem] rounded-tr-[3rem] md:block hidden"></div>
        <div class="flex justify-center items-center absolute w-[90%] h-[80%] mx-auto">
            <div class="w-full md:w-[50%] h-full bg-white rounded-tl-[3rem] rounded-bl-[3rem] p-10 flex flex-col justify-center ">
                <h1 class="text-2xl font-semibold">Login to the Account</h1>
                <p class="mb-7 font-normal">Please enter your credentials</p>
                <div class="flex items-center relative mb-4">
                    <input type="email" id="email"
                    class="block px-2.5 pb-2 pt-2 w-full text-base font-medium text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-primary peer focus:outline-none"
                    placeholder=" " />
                <label for="email"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Email</label>
                </div>
                <div class="flex items-center relative mb-2">
                    <input type="password" id="password"
                    class="block px-2.5 pb-2 pt-2 w-full text-base font-medium text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-primary peer focus:outline-none"
                    placeholder=" " />
                <label for="password"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Password</label>
                </div>
                <div class="w-full flex justify-end items-center">
                    <a routerLink="/" class="hover:underline text-sm text-blue-600">Forgot Password?</a>
                </div>
                <a routerLink="/index" class="bg-primary hover:bg-primary-hover text-white w-full mt-5 py-2 px-3 rounded-md font-medium focus:outline-none text-center">Login</a>
            </div>
            <div class="w-[50%] login__bgimg overflow-hidden rounded-tr-[3rem] rounded-br-[3rem] p-10 md:block hidden"></div>
        </div>
    </div>
</section>
