<aside class="w-[300px] h-[490px] overflow-auto shadow-xl rounded-bl-md">
    <div class="w-full py-2 px-5 bg-primary">
        <span class="text-white uppercase font-medium text-lg pl-4 font-bold ">shop by category</span>
    </div>
    <ul class="w-full p-5 px-9">
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">recipe mix</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">BBQ Range</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Bhunna Range</a>
        </li>
        <li class="border-b-gray-400 border-b-2  pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Fried Rannge</a>
        </li>
        <li class="border-b-gray-400 border-b-2  pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Haleem Range</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Rice Range</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Salan Range</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Seasoning and snacks</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Vegetarian</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Spices</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Pickles</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Pink salt</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">Dessert</a>
        </li>
        <li class="border-b-gray-400 border-b-2 pt-0.5 text-[#686868]">
            <a href="" class="capitalize text-sm hover:text-primary">On discounts</a>
        </li>
        
    </ul>
</aside>