@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'nfl';
    src: url('assets/fonts/GazpachoBold.ttf') format('ttf'),
         url('assets/fonts/GazpachoBlack.ttf') format('ttf'),
         url('assets/fonts/GazpachoMedium.ttf') format('ttf');

  }
  

:root {
    --primary-color: #f14036;
    --hover-color: #c6261f;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    font-family: 'Poppins';
}

.font-nfl {
    font-family: 'nfl';
}

.owl-dots {
    margin-top: -2rem !important;
    z-index: 1000 !important;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primary-color) !important;
}

.reviews__slide .owl-dots {
    margin-top: 5px !important;
}

.serv_slider .owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 38%;
    width: 100%;
}

.serv_slider .owl-theme .owl-nav .owl-prev:hover ,
.serv_slider .owl-theme .owl-nav .owl-next:hover {
    background-color: var(--hover-color);
}

.serv_slider .owl-theme .owl-nav .owl-prev ,
.serv_slider .owl-theme .owl-nav .owl-next {
    background-color: var(--primary-color);
    border-radius: 100%;
    font-size: 24px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding: 1px; */
}
.serv_slider .owl-theme .owl-nav .owl-prev {
    margin-left: -25px;
}
.serv_slider .owl-theme .owl-nav .owl-next {
    margin-right: -25px;
}