<div class="w-[220px]">
    <div class="w-full p-5 border-2 border-gray-400 rounded-lg">
        <img src="../../../../assets/product.png" class="max-h-[180px] mx-auto" alt="">
    </div>
    <div class="flex justify-between my-2">
        <div>
            <div class="flex flex-row" >
            <h1 (click)="openInfoBoxDialog()" class="text-base font-bold firstclass capitalize  text-primary leading-[20px] pt-[5px] pb-[14px]">masala chicken seasonings</h1>
            <p class="text-xs capitalize text-gray-600 pt-[8px] pr-[51px] text-[10px]">85gm</p>
            </div>
            <p class="text-gray-500 secondclass mt-[-8px]">12 piece in a carton</p>
        </div>
        <div class="flex flex-col items-end ml-[-40px]">
            <p class=" text-sm font-semibold  text-primary pt-[4px]">${{183.00}}</p>
            <p class="text-sm text-gray-500 secondclass ">Carton price</p>
            <button (click)="openCartDialog()" class="w-[60px] border-2  thirdclass border-primary uppercase rounded-full py-0.5 px-1 text-gray-600 mt-3 font-bold hover:bg-primary hover:text-white mt-[6px]">add to cart</button>
           
        </div>
    </div>
</div>

<style>
    .firstclass{
        font-size: 13px !important;
    }
    .secondclass{
        font-size: 9px !important;
    }
    .thirdclass{
        font-size: 7px !important;
    }
</style>

